.nk-top-header {
padding: 10px 0 10px 0;
position: relative;
text-align: left;
width: 960px;
}
#nk-main_menu_component {
border: 0;
clear: both;
font-size: 1.1em;
height: 35px;
width: 960px;
}
#nk-main_menu_component li#nk-li-search {
border-left: none!important;
width: 245px;
}

.ltr #nk-main_menu_component li .nk-search_container {
border-right: 1px solid #2A598E;
border-right: 1px solid rgba(0, 0, 0, 0.1);
float: left;
height: 35px;
width: 202px;
}

.nk-teaser {
background: white;
height: 320px;
position: relative;
width: 320px;
}

.ltr #nk-main_menu_component {
margin-left: 0px;
}
.nk-header_search_input_gradient, .nk-header_search_button_gradient {
background-color: #789DC7;
background: -moz-linear-gradient(100% 100% 90deg,#3A5E97,#5787BA);
background: -webkit-gradient(linear,0% 0,0% 100%,from(#5787BA),to(#3A5E97));
}

div.nk-snav-container {
height: 36px;
width: 960px;
position: relative;
margin: 0 0 0 0;
z-index: 0;
background: url("../images/snav-bg.jpg");
border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
display: table;
}


.ltr div.prodcatalogue-filters {
float: left;
}


div.prodcatalogue-filters {
background: #134A75;
color: white;
padding: 0;
width: 200px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}



div.prodcatalogue-filters h2 {
background: url(../images/title-bg.png) repeat-x 0 1px;
border-bottom: 1px solid #113C61;
border-top: 1px solid #2E597C;
color: white;
display: block;
font-size: 1em;
font-weight: bold;
letter-spacing: 0;
line-height: 35px;
height: 35px;
vertical-align: middle;
width: 100%;
}


.ltr div.prodcatalogue-filters h2 span {
float: left;
height: 35px;
margin-left: 10px;
}


div.prodcatalogue-filters ul {
color: white;
}


div.prodcatalogue-filters ul li {
background: url(../images/stitle-bg.png) repeat-x 0 1px;
clear: both;
height: 31px;
line-height: 31px;
list-style: none;
padding: 0 15px;
color: #999;
}


div.prodcatalogue-filters ul li a {
cursor: pointer;
float: left;
width: 100%;
}

